extends ../layout/about

block variables
	- var title = "About"
	- var bodyClass = 'about-page'

block content
	.content
		p Магазин "Сантехника и Инструменты" успешно работает более 10 лет. У нас представлен самый широкий ассортимент товаров народного потребления: от ведущих брендов до товаров массового спроса. 
		p Мы гарантируем качество всего ассортимента. Получайте скидки постоянного покупателя!

		img(src="/assets/img/about/01.jpg" width="100%")
		img(src="/assets/img/about/02.jpg" width="100%")
		
