footer
	.wrapper
		span © 2015 - 2021    |     santkanash.ru
	#myModal.modal
		.modal-content
			span.close &times;
			iframe(data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A07761ddf587f77328d0448d0528049804605126d90ed39b40e5ea51ddb920575&amp;source=constructor" width="560" height="400" frameborder="0")