header
	
	ul.addr
		li
			img(src="/assets/img/icons/shop.svg" width="19" height="18")
			span г. Канаш	
		li
			span ул. Котовского, 2,  склад 22
		li
			img(src="/assets/img/icons/pointer.svg" width="16" height="22")
			span открыть на карте
	a.logo(href="/")
		picture
			source(srcset="/assets/img/logo.webp" type="image/webp")
			source(srcset="/assets/img/logo.jpg" type="image/jpeg")
			img(src="/assets/img/logo.jpg" width="346" height="143")
	ul.phone
		li
			a.tel(href="tel:+79083008830")
				img(src="/assets/img/icons/phone.svg" width="15" height="15")
				span +7 (908) 300-88-30
		li
			a.viber(href="viber://chat/?number=%2B79083008830")
				img(src="/assets/img/icons/viber.svg" width="16" height="18")
				span Viber
		li
			a.wa(href="https://api.whatsapp.com/send?phone=79083008830")
				img(src="/assets/img/icons/wa.svg" width="17" height="17")
				span WhatsApp

#mobile_header
	a.name(href="/")
		span Сантехника
		span Инструменты
		span на Котовского 2, склад 22
	a.phone(href="tel:+7 (908) 300-88-30") +7 (908) 300-88-30
	button.hamburger.hamburger--collapse(type="button")
		span.hamburger-box
			span.hamburger-inner

#mobile_menu
	ul
		li.active
			a(href="#") Главная
		li
			a(href="#") Фотогалерея
		li
			a(href="#") О нас
		li
			a(href="#") Контакты
		li
			a(href="#") Сотрудничество			 
	
nav
	ul
		li.active
			a(href="#") Главная
		li
			a(href="#") Фотогалерея
		li
			a(href="#") О нас
		li
			a(href="#") Контакты
		li
			a(href="#") Сотрудничество